-content_for :head do
  :javascript
    function AppCntl($scope){
      $scope.input = 1378391038021;
      $scope.plInput = 1;
      $scope.person1 = "Shanjian";
      $scope.person2 = "Di";
      $scope.plInput2 = "";
    }

%div{"ng-controller" => "AppCntl"}
  %h3 Datetime/Number/Currency filters demo:
  %input{"ng-model" => "input", :type => "text", :value => "1378391038021"}/
  %p date(medium): {{input | date:"medium"}}
  .alert.alert-error Neither Javascript nor Angular currently supports displaying the date with a timezone specified by the developer.
  %p.alert-info date(longDate): {{input | date:"longDate"}}
  .alert.alert-warning  Keep in mind that translated strings/datetime formats can vary greatly in length. For example, June 3, 1977 will be translated to Spanish as 3 de junio de 1977. make sure UI components do not overlap.
  %p number: {{input | number}}
  %p currency: {{input | currency }}
  .alert.alert-warning if you want to display account balance of 1000 dollars with the following binding containing currency filter: {{ 1000 | currency }}, and your app is currently in en-US locale. '$1000.00' will be shown. However, if someone in a different local (say, Japan) views your app, her browser will specify the locale as ja, and the balance of '¥1000.00' will be shown instead.
  %hr/
  .row-fluid
    .span6
      %h3 Pluralization demo:
      %input.input-small{"ng-model" => "plInput", :type => "text"}/
      %ng-pluralize{:count => "plInput", :when => "{ '0': 'You have no email!',\n                           'one': 'You have one email!',\n                           'other': 'You have {} emails!'}"}
    .span6
      %h3 Pluralization demo with offsets:
      Name of person1:
      %input{"ng-model" => "person1", :type => "text"}/
      %br/
      Name of person2:
      %input{"ng-model" => "person2", :type => "text"}/
      .well.well-small
        %input{"ng-model" => "plInput2", :type => "text", placeholder:"Type a number here"}/
        %ng-pluralize{:count => "plInput2", :offset => "2", :when => "{'0':'Nobody is viewing!',\n'1':'{{person1}} is viewing!',\n '2': '{{person1}} and {{person2}} are viewing!',\n'3': '{{person1}}, {{person2}} and one other person are viewing!',\n'other': '{{person1}}, {{person2}} and {} other people are viewing!'}"}
